Repository LetsZiggy/tailwindcss-Class-Sorter: changes, and which lefthook commands are due for each by the changed paths.
All: gofumpt, ruff, eslint, prettier-json

gofumpt:
  run: 'echo -e "staged_files >>> {staged_files}\n";
  
    gofumpt -l -w {staged_files};
  
    '
  stage_fixed: true

ruff:
  run: 'echo -e "staged_files >>> {staged_files}\n";
  
    uv --project _python_ run ruff format {staged_files};
  
    uv --project _python_ run ruff check --fix {staged_files};
  
    '
  stage_fixed: true

eslint:
  run: 'GIT_ROOT_PATH=$(git rev-parse --show-toplevel);
  
    STAGED_FILES_ABS_PATH=$(echo "{staged_files}" | sed -E -e "s,((^[^ ]+)|([^ ]+)),$GIT_ROOT_PATH/\1,g");
  
    pnpm --dir _nodejs_ exec eslint --config eslint.config.js --max-warnings 0 --no-warn-ignored --fix $STAGED_FILES_ABS_PATH;
  
    '
  ...

prettier-json:
  run: 'GIT_ROOT_PATH=$(git rev-parse --show-toplevel);
  
    STAGED_FILES_ABS_PATH=$(echo "{staged_files}" | sed -E -e "s,((^[^ ]+)|([^ ]+)),$GIT_ROOT_PATH/\1,g");
  
    pnpm --dir _nodejs_ exec prettier --config prettier.config.js --write $STAGED_FILES_ABS_PATH;
  
    '
  stage_fixed: true

docs: README
  README.md
Due: none

docs: LICENSE
  LICENSE
Due: none

chore: project settings
  .editorconfig
  .golangci.yml
  editor.sublime-project
  generator-order-list/.prettierignore
  generator-order-list/eslint.config.js
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/pnpm-workspace.yaml
  generator-order-list/prettier.config.js
  generator-order-list/tsconfig.json
  lefthook.yml
  taskfile.dist.yml
Due: eslint, prettier-json

feat: tailwindcss 4.0.* build
  dist/4.0.0/darwin-arm-64/twcs.gz
  dist/4.0.0/darwin-x86-64/twcs.gz
  dist/4.0.0/linux-arm-64/twcs.gz
  dist/4.0.0/linux-x86-32/twcs.gz
  dist/4.0.0/linux-x86-64/twcs.gz
  dist/4.0.0/windows-arm-64/twcs.exe.gz
  dist/4.0.0/windows-x86-32/twcs.exe.gz
  dist/4.0.0/windows-x86-64/twcs.exe.gz
  npm/LICENSE
  npm/README.md
  npm/package.json
  npm/twcs.wasm
Due: prettier-json

feat: tailwindcss 4.0.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/config-embedded.test.json
  tests/config.test.json
  tests/package.json
  tests/pnpm-lock.yaml
  tests/pnpm-workspace.yaml
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

feat: tailwindcss 4.1.* support
  dist/config.json
  dist/order_list.json
  generator-order-list/generator.ts
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/prepare-css.ts
  generator-order-list/safelist.txt
  generator-order-list/stylelint-config-order.ts
  webscrape-tailwindcss/README.md
  webscrape-tailwindcss/additional-classes-list.json
  webscrape-tailwindcss/get-styles.py
  webscrape-tailwindcss/helper.py
  webscrape-tailwindcss/styles-list.json
  webscrape-tailwindcss/urls.txt
Due: ruff, eslint, prettier-json

feat: tailwindcss 4.1.* build
  dist/4.0.0/darwin-arm-64/twcs.gz
  dist/4.0.0/darwin-x86-64/twcs.gz
  dist/4.0.0/linux-arm-64/twcs.gz
  dist/4.0.0/linux-x86-32/twcs.gz
  dist/4.0.0/linux-x86-64/twcs.gz
  dist/4.0.0/windows-arm-64/twcs.exe.gz
  dist/4.0.0/windows-x86-32/twcs.exe.gz
  dist/4.0.0/windows-x86-64/twcs.exe.gz
  dist/4.1.0/darwin-arm-64/twcs.gz
  dist/4.1.0/darwin-x86-64/twcs.gz
  dist/4.1.0/linux-arm-64/twcs.gz
  dist/4.1.0/linux-x86-32/twcs.gz
  dist/4.1.0/linux-x86-64/twcs.gz
  dist/4.1.0/windows-arm-64/twcs.exe.gz
  dist/4.1.0/windows-x86-32/twcs.exe.gz
  dist/4.1.0/windows-x86-64/twcs.exe.gz
  npm/package.json
  npm/twcs.wasm
Due: prettier-json

feat: tailwindcss 4.1.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

feat: tailwindcss 4.2.* support
  dist/order_list.json
  generator-order-list/generator.ts
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/prepare-css.ts
  generator-order-list/safelist.txt
  generator-order-list/stylelint-config-order.ts
  webscrape-tailwindcss/README.md
  webscrape-tailwindcss/additional-classes-list.json
  webscrape-tailwindcss/defaults-list.json
  webscrape-tailwindcss/get-defaults.py
  webscrape-tailwindcss/styles-list.json
  webscrape-tailwindcss/urls.txt
Due: ruff, eslint, prettier-json

feat: tailwindcss 4.2.* build
  dist/4.1.0/darwin-arm-64/twcs.gz
  dist/4.1.0/darwin-x86-64/twcs.gz
  dist/4.1.0/linux-arm-64/twcs.gz
  dist/4.1.0/linux-x86-32/twcs.gz
  dist/4.1.0/linux-x86-64/twcs.gz
  dist/4.1.0/windows-arm-64/twcs.exe.gz
  dist/4.1.0/windows-x86-32/twcs.exe.gz
  dist/4.1.0/windows-x86-64/twcs.exe.gz
  dist/4.2.0/darwin-arm-64/twcs.gz
  dist/4.2.0/darwin-x86-64/twcs.gz
  dist/4.2.0/linux-arm-64/twcs.gz
  dist/4.2.0/linux-x86-32/twcs.gz
  dist/4.2.0/linux-x86-64/twcs.gz
  dist/4.2.0/windows-arm-64/twcs.exe.gz
  dist/4.2.0/windows-x86-32/twcs.exe.gz
  dist/4.2.0/windows-x86-64/twcs.exe.gz
  npm/package.json
  npm/twcs.wasm
Due: prettier-json

feat(todo): tailwindcss 4.3.* support
  dist/order_list.json
  generator-order-list/generator.ts
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/prepare-css.ts
  generator-order-list/safelist.txt
  generator-order-list/stylelint-config-order.ts
  webscrape-tailwindcss/additional-classes-list.json
  webscrape-tailwindcss/styles-list.json
  webscrape-tailwindcss/urls.txt
Due: eslint, prettier-json

chore: TODO
  README.md
  npm/README.md
Due: none

feat: tailwindcss 4.2.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

feat(todo): tailwindcss 4.3.* build
  dist/4.2.0/darwin-arm-64/twcs.gz
  dist/4.2.0/darwin-x86-64/twcs.gz
  dist/4.2.0/linux-arm-64/twcs.gz
  dist/4.2.0/linux-x86-32/twcs.gz
  dist/4.2.0/linux-x86-64/twcs.gz
  dist/4.2.0/windows-arm-64/twcs.exe.gz
  dist/4.2.0/windows-x86-32/twcs.exe.gz
  dist/4.2.0/windows-x86-64/twcs.exe.gz
  dist/4.3.0/darwin-arm-64/twcs.gz
  dist/4.3.0/darwin-x86-64/twcs.gz
  dist/4.3.0/linux-arm-64/twcs.gz
  dist/4.3.0/linux-x86-32/twcs.gz
  dist/4.3.0/linux-x86-64/twcs.gz
  dist/4.3.0/windows-arm-64/twcs.exe.gz
  dist/4.3.0/windows-x86-32/twcs.exe.gz
  dist/4.3.0/windows-x86-64/twcs.exe.gz
  npm/package.json
  npm/twcs.wasm
Due: prettier-json

feat(todo): tailwindcss 4.3.* build
  dist/4.2.0/darwin-arm-64/twcs.gz
  dist/4.2.0/darwin-x86-64/twcs.gz
  dist/4.2.0/linux-arm-64/twcs.gz
  dist/4.2.0/linux-x86-32/twcs.gz
  dist/4.2.0/linux-x86-64/twcs.gz
  dist/4.2.0/windows-arm-64/twcs.exe.gz
  dist/4.2.0/windows-x86-32/twcs.exe.gz
  dist/4.2.0/windows-x86-64/twcs.exe.gz
  dist/4.2.1/darwin-arm-64/twcs.gz
  dist/4.2.1/darwin-x86-64/twcs.gz
  dist/4.2.1/linux-arm-64/twcs.gz
  dist/4.2.1/linux-x86-32/twcs.gz
  dist/4.2.1/linux-x86-64/twcs.gz
  dist/4.2.1/windows-arm-64/twcs.exe.gz
  dist/4.2.1/windows-x86-32/twcs.exe.gz
  dist/4.2.1/windows-x86-64/twcs.exe.gz
  npm/package.json
  npm/twcs.wasm
Due: prettier-json

chore: tmp
  .gitignore
  generator-order-list/eslint.config.js
  generator-order-list/package.json
  generator-order-list/prettier.config.js
  lefthook.yml
Due: eslint, prettier-json

chore: .gitignore
  .gitignore
Due: none

feat: tailwindcss 4.0.* build
  dist/4.0.0/darwin-arm-64/twcs.gz
  dist/4.0.0/darwin-x86-64/twcs.gz
  dist/4.0.0/linux-arm-64/twcs.gz
  dist/4.0.0/linux-x86-32/twcs.gz
  dist/4.0.0/linux-x86-64/twcs.gz
  dist/4.0.0/windows-arm-64/twcs.exe.gz
  dist/4.0.0/windows-x86-32/twcs.exe.gz
  dist/4.0.0/windows-x86-64/twcs.exe.gz
  npm/LICENSE
  npm/README.md
  npm/package.json
  npm/twcs.wasm
  taskfile.dist.yml
Due: prettier-json

Path conditions:
  gofumpt: any of: {.[!.],}*.go
  ruff: any of: {.[!.],}*.py
  eslint: any of: {.[!.],}*.{js,ts}
  prettier-json: any of: {.[!.],}*.json
