Repository LetsZiggy/tailwindcss-Class-Sorter: changes, and which lefthook commands are due for each by the changed paths.
All: gofumpt, prettier-json

lefthook.yml:

# prepare-commit-msg:
#   commands:
#     commitizen:
#       interactive: true
#       run: exec < /dev/tty && pnpm --dir _nodejs_ run cz --hook || true
#       env:
#         LEFTHOOK: 0

commit-msg:
  commands:
    commitlint:
      run: pnpm -dir _nodejs_ run lint:commit

pre-commit:
  # parallel: true
  commands:
    gofumpt:
      glob: '{.[!.],}*.go'
      run: gofumpt -l -w {staged_files}
      stage_fixed: true
    # eslint:
    #   glob: "{.[!.],}*.{js,ts}"
    #   run: pnpm --dir _nodejs_ run fix:eslint
    #   stage_fixed: true
    # stylelint:
    #   glob: "{.[!.],}*.css"
    #   run: pnpm --dir _nodejs_ run fix:stylelint
    #   stage_fixed: true
    prettier-json:
      glob: '{.[!.],}*.json'
      run: pnpm --dir _nodejs_ run fix:prettier
      stage_fixed: true
    # prettier-html:
    #   glob: "{.[!.],}*.html"
    #   run: pnpm --dir _nodejs_ run fix:prettier
    #   stage_fixed: true

feat: tailwindcss 4.0.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

feat: tailwindcss 3.4.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/config-embedded.test.json
  tests/config.test.json
  tests/package.json
  tests/pnpm-lock.yaml
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

feat: tailwindcss 4.0.* support
  README.md
  _nodejs_/README.md
  _nodejs_/defaults-list.json
  _nodejs_/generate-order-list.ts
  _nodejs_/generator.ts
  _nodejs_/helper.ts
  _nodejs_/order-smacss.ts
  _nodejs_/package.json
  _nodejs_/pnpm-lock.yaml
  _nodejs_/pnpm-workspace.yaml
  _nodejs_/prepare-css.ts
  _nodejs_/safelist.txt
  _nodejs_/tailwind-stubs-config-full.d.ts
  _nodejs_/tailwind.config.js
  _nodejs_/tailwind.css
  _python_/README.md
  _python_/defaults-list.json
  _python_/generate-safelist.py
  _python_/get-defaults.py
  _python_/get-pages.py
  _python_/get-styles.py
  _python_/helper.py
  _python_/pages.txt
  _python_/pyproject.toml
  _python_/styles-list.json
  _python_/uv.lock
  command_format.go
  dist/config.json
  dist/order_list.json
  type.go
  util.go
Due: gofumpt, prettier-json

feat: tailwindcss 4.1.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

feat: tailwindcss 4.1.* support
  _nodejs_/generate-order-list.ts
  _nodejs_/order-recess.ts
  _nodejs_/package.json
  _nodejs_/pnpm-lock.yaml
  _nodejs_/prepare-css.ts
  _nodejs_/safelist.txt
  _python_/get-styles.py
  _python_/pages.txt
  _python_/styles-list.json
  dist/config.json
  dist/order_list.json
Due: prettier-json

tmp
  _nodejs_/tsconfig.json
  editor.sublime-project
Due: prettier-json

chore: tmp
  _nodejs_/.prettierignore
  _nodejs_/eslint.config.js
  _nodejs_/package.json
  _nodejs_/pnpm-lock.yaml
  _nodejs_/prettier.config.js
  _nodejs_/tsconfig.json
  editor.sublime-project
  lefthook.yml
  package.json
  taskfile.dist.yml
Due: prettier-json

chore: tmp
  .gitignore
  _nodejs_/.prettierignore
  _nodejs_/eslint.config.js
  _nodejs_/package.json
  _nodejs_/pnpm-lock.yaml
  _nodejs_/prettier.config.js
  _nodejs_/tsconfig.json
  _python_/README.md
  editor.sublime-project
  lefthook.yml
  package.json
  taskfile.dist.yml
Due: prettier-json

chore: tmp
  .gitignore
  .npmignore
  .npmrc
  _nodejs_/.prettierignore
  _nodejs_/_golang-implementation_incomplete/README.md
  _nodejs_/_golang-implementation_incomplete/go.mod
  _nodejs_/_golang-implementation_incomplete/helper.go
  _nodejs_/_golang-implementation_incomplete/main.go
  _nodejs_/_golang-implementation_incomplete/prepare.go
  _nodejs_/eslint.config.js
  _nodejs_/package.json
  _nodejs_/pnpm-lock.yaml
  _nodejs_/prepare-css.ts
  _nodejs_/prettier.config.js
  _nodejs_/safelist.txt
  _nodejs_/tailwind.css
  _nodejs_/tsconfig.json
  _python_/README.md
  _python_/generate-safelist.py
  _python_/get-defaults.py
  _python_/get-pages.py
  _python_/get-styles.py
  _python_/helper.py
  _python_/styles-list.json
  dist/go_js_wasm_exec
  dist/order_list.json
  dist/wasm_exec.js
  dist/wasm_exec_node.js
  editor.sublime-project
  lefthook.yml
  package.json
  taskfile.dist.yml
  tests/package.json
  tests/pnpm-lock.yaml
Due: gofumpt, prettier-json

chore: .gitignore
  .gitignore
Due: none

docs: LICENSE
  LICENSE
Due: none

docs: README
  README.md
Due: none

chore: project settings
  .editorconfig
  .golangci.yml
  .npmrc
  editor.sublime-project
  generator-order-list/.prettierignore
  generator-order-list/eslint.config.js
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/pnpm-workspace.yaml
  generator-order-list/prettier.config.js
  generator-order-list/tsconfig.json
  lefthook.yml
  taskfile.dist.yml
  tests/pnpm-workspace.yaml
Due: prettier-json

feat: tailwindcss 4.0.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/config-embedded.test.json
  tests/config.test.json
  tests/package.json
  tests/pnpm-lock.yaml
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

feat: tailwindcss 4.1.* support
  dist/config.json
  dist/order_list.json
  generator-order-list/generator.ts
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/safelist.txt
  generator-order-list/stylelint-config-order.ts
  webscrape-tailwindcss/README.md
  webscrape-tailwindcss/additional-classes-list.json
  webscrape-tailwindcss/get-styles.py
  webscrape-tailwindcss/helper.py
  webscrape-tailwindcss/styles-list.json
  webscrape-tailwindcss/urls.txt
Due: prettier-json

feat: tailwindcss 4.2.* support
  dist/order_list.json
  generator-order-list/generator.ts
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/safelist.txt
  generator-order-list/stylelint-config-order.ts
  webscrape-tailwindcss/README.md
  webscrape-tailwindcss/additional-classes-list.json
  webscrape-tailwindcss/defaults-list.json
  webscrape-tailwindcss/get-defaults.py
  webscrape-tailwindcss/styles-list.json
  webscrape-tailwindcss/urls.txt
Due: prettier-json

chore: tmp
  dist/order_list.json
  generator-order-list/generate-order-list.ts
  generator-order-list/generator.ts
Due: prettier-json

feat: tailwindcss 4.2.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

chore: project settings
  .editorconfig
  .golangci.yml
  editor.sublime-project
  generator-order-list/.prettierignore
  generator-order-list/eslint.config.js
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/pnpm-workspace.yaml
  generator-order-list/prettier.config.js
  generator-order-list/tsconfig.json
  lefthook.yml
  taskfile.dist.yml
Due: prettier-json

feat: tailwindcss 4.1.* support
  dist/config.json
  dist/order_list.json
  generator-order-list/generator.ts
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/prepare-css.ts
  generator-order-list/safelist.txt
  generator-order-list/stylelint-config-order.ts
  webscrape-tailwindcss/README.md
  webscrape-tailwindcss/additional-classes-list.json
  webscrape-tailwindcss/get-styles.py
  webscrape-tailwindcss/helper.py
  webscrape-tailwindcss/styles-list.json
  webscrape-tailwindcss/urls.txt
Due: prettier-json

feat: tailwindcss 4.0.* test
  taskfile.dist.yml
  tests/a/a.html
  tests/b/b.html
  tests/c/c.html
  tests/config-embedded.test.json
  tests/config.test.json
  tests/package.json
  tests/pnpm-lock.yaml
  tests/pnpm-workspace.yaml
  tests/test-html.after.txt
  tests/test-html.before.txt
  tests/test-regions.json
Due: prettier-json

feat: tailwindcss 4.2.* support
  dist/order_list.json
  generator-order-list/generator.ts
  generator-order-list/package.json
  generator-order-list/pnpm-lock.yaml
  generator-order-list/prepare-css.ts
  generator-order-list/safelist.txt
  generator-order-list/stylelint-config-order.ts
  webscrape-tailwindcss/README.md
  webscrape-tailwindcss/additional-classes-list.json
  webscrape-tailwindcss/defaults-list.json
  webscrape-tailwindcss/get-defaults.py
  webscrape-tailwindcss/styles-list.json
  webscrape-tailwindcss/urls.txt
Due: prettier-json

chore: TODO
  README.md
  npm/README.md
Due: none
